*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.firsth1{
    color: green;
    margin-left: 30px;
}
.para1{
    font-size: 30px;
}
#identity{
    height: 40px;
    width: 400px;
    font-size: 20px;
}
.forbtn{
    height: 60px;
    width: 200px;
    color:white;
    font-size: 25px;
    background-color: green;

}
.divinput{
    display: flex;
    margin-top: 20px;
}
.divbtn{
    padding-left: 50px;
    margin-top: 10px;
}